
    
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona A Luxury Hotel</h1>
                    <p>
                        Here are the best hotel booking sites, including recommendations for international
                        travel and for finding low-priced hotel rooms.
                    </p>
                    <a href="#" class="primary-btn">Discover Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    <form action="/Hotel/SearchHotel" method="post">
                        <div class="check-date">

                            <label for="date-in">Şehir:</label>
                            <input type="text" name="City">
                        </div>
                        <div class="check-date">
                            <label for="date-in">Giriş:</label>
                            <input type="text" class="date-input" name="CheckIn">
                            <i class="icon_calendar"></i>
                        </div>

                        <div class="check-date">
                            <label for="date-out">Çıkış:</label>
                            <input type="text" class="date-input" name="CheckOut">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Yetişkin Sayısı:</label>
                            <select id="guest" name="AdultCount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Oda Sayısı:</label>
                            <select id="room" name="RoomCount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <button type="submit">Otel Bul</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-3.jpg"></div>
    </div>
</section>

